.svg-container {
  display: inline-block;
  position: relative;
  width: 90%;
  padding-bottom: 56%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

svg .county:hover {
  stroke: black;
  stroke-width: 4px;
  cursor: pointer;
}
